.home {
  width: 100%;
  height: 90vh;
  // padding-right: 15%;
  @include displayColumn();
  &_main {
    height: 70%;
    display: flex;
    @include displayColumn();
    justify-content: center;
    border-bottom: 2px solid #272727;
    background: url("../images/intro-background.png") no-repeat right bottom;
    h1 {
      @include bigTextStyle();
      text-overflow: clip;
      width: 50%;
    }
    .hire {
      position: relative;
      margin-top: 50px;
      margin-left: 10vh;
      border: none;
      outline: none;
      height: 50px;
      width: 150px;
      float: left;
      background-color: #0f33ff;
      overflow: hidden;
      cursor: pointer;
      .del {
        position: absolute;
        height: 100%;
        width: 40px;
        top: 0;
        transition: all 1s ease-in-out;
        z-index: 1;
        background-color: #0b0b0b;
      }
      p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        z-index: 4;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
      }
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        color: white;
        height: 30px;
        width: 30px;
      }
    }
    .hire:hover {
      .del {
        transform: translateX(-50px);
      }
    }
  }
  &_info {
    margin-top: 20px;
    @include displayRow();
    justify-content: space-between;
    color: #272727;
    h2 {
      text-transform: uppercase;
    }
    p {
      margin-top: 20px;
    }
    &_text {
      transition: all 0.3s ease;
      width: 30%;
    }
    &_text:hover {
      color: white;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 1400px) {
}
/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .home {
    margin-left: 10vw;
    &_main {
      h1 {
        font-size: 20px;
        text-align: center;
        width: 90%;
        color: #0f33ff;
      }

      background: url("../images/intro-background.png") 0 10px bottom;
      background-size: cover;
      .hire {
        margin-top: 50%;
        .del {
          display: none;
        }
      }
    }
    &_info {
      margin-top: 5px;
      @include displayColumn();
      width: 100%;
      &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          font-size: 18px;
          margin-top: 10px;
        }
        p {
          font-size: 14px;
          margin-top: 5px;
          text-align: center;
        }
        width: 90%;
      }
    }
  }
}
