@import "./mixines.scss";
@import "./variables.scss";
@import "./home.scss";
@import "./header.scss";
@import "./works.scss";
@import "./about.scss";
@import "./contacts.scss";
@import "./hireUs.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Bowlby+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0b0b0b;
  color: white;
  font-family: "Montserrat", sans-serif;
  transition: all 1s ease-in-out;
  user-select: none;
}
.container {
  padding: 50px 50px;
  width: 100vw;
  height: 100vh;
}
.content {
  @include displayRow();
}
.page {
  width: 90%;
}
.navigation {
  height: 50vh;
  width: 10%;
  position: relative;
  margin-left: 2%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  .page_item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20%;
    position: relative;
    padding: 10%;
    transition: all 0.8s ease-in-out;
    .dot {
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: white;
      transform: translateX(-50%);
      left: 50px;
      z-index: 10;
    }
    .active {
      background-color: blue;
    }

    span {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    p {
      position: absolute;
      cursor: pointer;
      left: 60px;
      transition: all 0.3s ease-in-out;
    }
  }
  .page_item::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    z-index: 0;
    top: 0;
    left: 50px;
    background-color: #353535;
    transform: translateX(-50%);
  }
}

.activem {
  transition: all 1s ease-in-out;
  transform: perspective(400px) rotateY(10deg) scale(0.6);
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
  .content {
    padding-bottom: 40%;
    width: 60vw;
    transform: translateX(-2%);
  }
  margin-left: 1vw;
  border: 10px solid blue;
}
.act {
  @include displayRow();
  height: 100vh;
  transition: all 1s ease-in-out;
}
.menu {
  width: 12vw;
  transition: all 2s ease-in-out;
  p {
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    text-align: center;
  }
  #selected::before {
    content: "";
    width: inherit;
    height: 6px;
    top: 50%;
    left: 0;
    background-color: blue;
    position: absolute;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: 50px;
}
@media screen and (max-width: 1400px) {
  .navigation {
    height: 80vh;
    z-index: 5;
  }
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {
  .container {
    padding: 20px 20px;
  }
  .activem {
    display: none;
  }
  .menu {
    width: 100%;
    padding: 0 15%;
    #selected::before {
      top: 50%;
      // width: 20px;
    }
  }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .navigation {
    height: 80vh;
    margin-left: 0;
    .page_item {
      .dot {
        left: 15px;
      }
      span {
        display: none;
      }
      p {
        left: 25px;
      }
    }
    .page_item::before {
      left: 15px;
    }
  }
}
